USE [DataVeri]
GO
/****** Object:  Table [dbo].[TAKVIM]    Script Date: 14.12.2020 19:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKVIM](
	[GunID] [smallint] NOT NULL,
	[Tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_TAKVIM] PRIMARY KEY CLUSTERED 
(
	[GunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TAKVIM] ([GunID], [Tarih]) VALUES (1, CAST(N'2006-01-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[TAKVIM] ([GunID], [Tarih]) VALUES (2, CAST(N'2006-01-02T00:00:00' AS SmallDateTime))
INSERT [dbo].[TAKVIM] ([GunID], [Tarih]) VALUES (3, CAST(N'2006-01-03T00:00:00' AS SmallDateTime))
GO
