USE [DataVeri]
GO
/****** Object:  Table [dbo].[TALEP]    Script Date: 14.12.2020 19:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TALEP](
	[TalepID] [smallint] NOT NULL,
	[GunID] [smallint] NULL,
	[BayiID] [tinyint] NULL,
	[Miktar] [decimal](3, 0) NULL,
 CONSTRAINT [PK_TALEP] PRIMARY KEY CLUSTERED 
(
	[TalepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TALEP] ([TalepID], [GunID], [BayiID], [Miktar]) VALUES (1, 26, 2, CAST(40 AS Decimal(3, 0)))
INSERT [dbo].[TALEP] ([TalepID], [GunID], [BayiID], [Miktar]) VALUES (2, 18, 23, CAST(62 AS Decimal(3, 0)))
INSERT [dbo].[TALEP] ([TalepID], [GunID], [BayiID], [Miktar]) VALUES (3, 398, 23, CAST(57 AS Decimal(3, 0)))
GO
